extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/login") Login
  br
  a(href="/logout") Logout
  br
  div#video
    video#video_1(class="background_video fullscreen", loop, autoplay)
      source(src="", type="video/webm")
