<!doctype html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
	    <link rel='stylesheet' href='/stylesheets/style.css'></link>
	    <link rel="stylesheet" href="stylesheets/animate.min.css"></link>
	    <script type="text/javascript" src="scripts/dev/modernizr.js"></script>
	    <script type="text/javascript" src="scripts/dev/jquery-1.11.1.min.js"></script>
	    <script type="text/javascript" src="scripts/dev/require-2.1.14.js"></script>
	    <script type="text/javascript" src="scripts/dev/jquery.lattering.js"></script>
	    <script type="text/javascript" src="scripts/dev/jquery.textillate.js"></script>
    {% if googleAnalytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-55420036-1', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif # if googleAnalytics %}
	</head>
	<body>
        <header>
            {% block header %}
                {% if !user %}
                    <input type="button" value="Login"></input>
                    <input type="button" value="Sign up" onclick="jQuery('#signup_form').show(); jQuery('div#lightbox_shade').show();"></input>
                {% else %}
                    <span>You are loged in as {{ user.name }}</span>
                    <a href="/logout">Log out</a>
                {% endif # if user %}
            {% endblock %}
        </header>

		<div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>

        <div id="lightbox_shade" class="hidden"></div>
	</body>
</html>

