<!doctype html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
	    <link rel='stylesheet' href='/stylesheets/style.css'></link>
	    <link rel="stylesheet" href="stylesheets/animate.min.css"></link>
	    <script type="text/javascript" src="scripts/dev/modernizr.js"></script>
	    <script type="text/javascript" src="scripts/dev/jquery-1.11.1.min.js"></script>
	    <script type="text/javascript" src="scripts/dev/require-2.1.14.js"></script>
	    <script type="text/javascript" src="scripts/dev/jquery.lattering.js"></script>
	    <script type="text/javascript" src="scripts/dev/jquery.textillate.js"></script>
    {% if googleAnalytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-55420036-1', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif # if googleAnalytics %}
	</head>
	<body>
        <header>
            {% block header %}
                <div id="headerContainer">
                    {% if !user %}
                        <div id="leftNav" class="floatLeft">
                            <span>Don`t have an account? </span><input type="button" value="Sign up" onclick="toggleSignupPopup()"></input>
                        </div>
                        <div id="rightNav" class="floatRight">
                            <input type="email" required name="login" placeholder="{{ tu.email }}" style="background-image:url(/img/input_background.svg)"></input>
                            <input type="password" required name="password" placeholder="{{ tu.password }}" style="background-image:url(/img/input_background.svg)"></input>
                            <input type="button" value="Login"></input>
                        </div>
                    {% else %}
                        <div id="rightNav" class="floatRight">
                            <span>You are loged in as {{ user.name }}. </span>
                            <a href="/logout">Log out</a>
                        </div>
                </div>
                {% endif # if user %}
                <div class="hidden" id="signup_form" style="background-image:url(/img/hex_solid_purple.svg)">
                    <form method="POST" action="/signup">
                        <h1 class="grey"><b>{{ tu.signup }}</b></h1>
                        <input id="signup_email" type="email" required autofocus name="login" placeholder="{{ tu.email }}" style="background-image:url(/img/input_background.svg)"></input>
                        <input id="signup_password" type="password" required name="password" placeholder="{{ tu.password }}" style="background-image:url(/img/input_background.svg)"></input>
                        <input id="signup_rePassword" type="password" required name="rePassword" placeholder="{{ tu.rePassword }}" style="background-image:url(/img/input_background.svg)"></input>
                        <input type="button" value="{{ tu.signup }}" onclick="signup()" style="background-image:url(/img/input_background2.svg)"></input>
                        <input type="button" onclick="toggleSignupPopup()" value="{{ tu.cancel }}" style="background-image:url(/img/input_background2.svg)"></input>
                    </form>
                    <script type="text/javascript">
                        function toggleSignupPopup(){
                            jQuery('div#lightbox_shade').toggleClass('hidden');
                            jQuery('#signup_form').toggleClass('hidden');
                            $('#signup_form').trigger('resize');
                        }

                        function signup(){
                            var params = {};
                            params.login = $("#signup_form input[name='login']").val();
                            params.password = $("#signup_form input[name='password']").val();
                            params.rePassword = $("#signup_form input[name='rePassword']").val();

                            var request = $.post('/signup', params, function(data, status, req){
                                    console.log(arguments);
                                    if (status == "success" && data.erNo == '0') {
                                        window.location = window.location + 'login';
                                    }
                                }, 'json');
                        }
                        $(function(){
                            $(window).resize(function(){
                                console.log('Resize!!!');
                                var element = $("#signup_form");
                                console.log($(window).width());
                                console.log(element.width());
                                console.log({left: ($(window).width()/2) - (element.width()/2), top: 25});
                                element.offset({left: ($(window).width()/2) - (element.width()/2), top: 25} );
                            });
                        });
                    </script>
                </div>
                <div id="lightbox_shade" class="hidden"></div>
            {% endblock %}
        </header>

		<div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
	</body>
</html>

