doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="stylesheets/animate.min.css")
    script(type="text/javascript", src="scripts/dev/modernizr.js")
    script(type="text/javascript", src="scripts/dev/jquery-1.11.1.min.js")
    script(type="text/javascript", src="scripts/dev/require-2.1.14.js")
    script(type="text/javascript", src="scripts/dev/jquery.lattering.js")
    script(type="text/javascript", src="scripts/dev/jquery.textillate.js")
  body
    block content

