body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.background_video {
  z-index: -1;
  overflow: hidden;
  display: block;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
}
header {
    position: fixed;
    top:0;
    height: 50px;
    width: 100%;
}


