body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(151, 220, 149, 0.1);
}

a {
  color: #00B7FF;
}

.background_video {
  z-index: -1;
  overflow: hidden;
  display: block;
}

.fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto!important;
  height: auto!important;
}

footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
}
header {
    position: fixed;
    top:0;
    height: 50px;
    width: 100%;
}
div#content {
    margin-top: 50px;
}


